<p>¡Hola!</p>

<p>Te confirmamos que tu consulta a <strong>{{companyName}}</strong> fue enviada exitosamente.

<p>El proveedor te contactará en los próximas horas.</p>

<p>
¡Que tengas un buen día!
</p>

<p>
    <strong>El equipo de LLamaway</strong>
</p>