<p>¡Hola!</p>

<p>Te confirmamos que tu consulta a <strong>{{companyName}}</strong> fue enviada exitosamente.

<p>El proveedor te contactará en los próximas horas, para garantizarte una buena experiencia, aquí están sus datos:</p>

{{#contact_name}}
<p><strong>Nombre de contacto: </strong>{{contact_name}}</p>
{{/contact_name}}

{{#telephone}}
<p><strong>Teléfono: </strong>{{telephone}}</p>
{{/telephone}}

{{#contact_email}}
<p><strong>Email: </strong>{{contact_email}}</p>
{{/contact_email}}

{{#location}}
<p><strong>Dirección: </strong>{{location}}</p>
{{/location}}

<p>
¡Que tengas un buen día!
</p>

<p>
    <strong>El equipo de LLamaway</strong>
</p>