<p>¡Hola! Gracias por registrarte en Llamaway</p>
<p>
Para empezar la aventura, necesitamos que verifiques tu correo electronico, haciendo clic en el siguiente botón:
</p>
<a href="{{validateLink}}" style='{{{constants.shortPrimaryButtonStyle}}}'>Validar email</a>
<p>
	O copiando este enlace en tu navegador {{validateLink}}
</p>
<p>
	¡Te esperamos para encontrar las mejores experiencias!
</p>
<p>
	<strong>El equipo de Llamaway</strong>
</p>