<p>¡Hola!</p>
<p>
    Te queríamos avisar que ya recibiste todas las consultas que tenías incluidas en tu Plan, pero un usuario quiso contactarte.
</p>
<p>No pierdas la oportunidad de seguir expandiendo tu negocio! Te recomendamos las siguientes opciones:</p>
<p>Si queres desbloquear mas contactos escribinos a <a href="mailto:comercial@llamaway.com?Subject=Quiero%20desbloquear%20contactos">comercial@llamaway.com</a> y te armaremos un paquete especial para vos</p>
<p>
    ¡Felices ventas!
</p>
<p>
    <strong>El equipo de LLamaway</strong>
</p>
