<P>¡Felicitaciones!</P>

<p>
    Recibiste una nueva consulta 
    {{#adventure}}
	por la aventura <a href="https://www.llamaway.com/aventura/_{{adventure._id}}#!/resumen"><strong>{{adventure.name}}</strong></a>
	{{/adventure}}
	{{^adventure}}
	de tu perfil de guía <a href="https://www.llamaway.com/e/"><strong>{{companyPageName}}</strong></a>
	{{/adventure}}
</p>

{{#contact_name}}
<p><strong>Nombre de contacto: </strong>{{contact_name}}</p>
{{/contact_name}}

{{#telephone}}
<p><strong>Teléfono: </strong>{{telephone}},</p>
{{/telephone}}

{{#contact_email}}
<p><strong>Email: </strong>{{contact_email}},</p>
{{/contact_email}} 

{{#description}} 
<p><strong>Consulta: </strong>{{description}}</p>
{{/description}}

<p>
	Recuerda: Te recomendamos responder dentro de las primeras 24 horas para que el usuario te califique positivamente.
</p>
<p>
    ¡¡Felices ventas!!
</p>
<p>
    <strong>El equipo de LLamaway</strong>
</p>
