<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- Source -->
	<!-- https://github.com/seanpowell/Email-Boilerplate/blob/master/email.html -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
	<style type="text/css">
		@media only screen and (max-device-width: 480px) {

			
			a[href^="tel"], a[href^="sms"] {
						text-decoration: none;
						color: black; /* or whatever your want */
						pointer-events: none;
						cursor: default;
					}

			.mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
						text-decoration: default;
						color: orange !important; /* or whatever your want */
						pointer-events: auto;
						cursor: default;
					}
		}

		/* More Specific Targeting */

		@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
			/* You guessed it, ipad (tablets, smaller screens, etc) */

			/* Step 1a: Repeating for the iPad */
			a[href^="tel"], a[href^="sms"] {
						text-decoration: none;
						color: blue; /* or whatever your want */
						pointer-events: none;
						cursor: default;
					}

			.mobile_link a[href^="tel"], .mobile_link a[href^="sms"] {
						text-decoration: default;
						color: orange !important;
						pointer-events: auto;
						cursor: default;
					}
		}
	</style>
	
	<table cellpadding="0" cellspacing="0" border="0" id="backgroundTable" width="100%" style='font-family: "Roboto", "Helvetica Neue", sans-serif;'>
		<tr>
			<td>
				<table cellpadding="0" cellspacing="0" border="0" align="center" width="100%">
					<tr height="10px">
						<td width="20px" valign="top"></td>
						<td width="100px" valign="top"></td>
						<td valign="top"></td>
					</tr>
					<tr>
						<td width="20px" valign="top"></td>
						<td width="100px" valign="bottom">
							<img src="https://res.cloudinary.com/llamaway/image/upload/v1474667146/LogoHeader_lavcva.png" 
								alt="logo" />
						</td>
						<td valign="top"></td>
					</tr>
					<tr height="5px">
						<td width="20px" valign="top" bgcolor="#eeeeee" ></td>
						<td width="100px" valign="top" bgcolor="#6A2871"></td>
						<td valign="top" bgcolor="#eeeeee"></td>
					</tr>
				</table>
			</td>
		</tr>

		<tr>
			<td style="padding-left:20px; padding-top: 20px; padding-right:20px; padding-bottom:20px;">
				{{>content}}
			</td>
		</tr>
	</table>
	<!-- End of wrapper table -->
</body>
</html>