<p>
¡Hola! Parece que olvidaste tu contraseña, haz clic en el siguiente botón para restablecerla y volver a la comunidad Llamaway!
</p>

<a href="{{link}}" style='{{{constants.primaryButtonStyle}}}'>
	Redefinir contraseña
</a>

<p>
Si sigues teniendo problemas, no dudes en escribirnos a consultas@llamaway.com y nuestro equipo de aventuras irá a rescatarte! 
</p>

<p>
Si crees que esto te llegó por error, por favor ignorá este email.
</p>

<p>
Que tengas un excelente día
</p>
<p>
    <strong>El equipo de Llamaway</strong>
</p>