<p>¡Hola! Ya te encuentras registrado exitosamente en Llamaway.</p>
<p>
    Te compartimos estos tutoriales que pueden serte utiles para empezar a cargar tu información y generar contactos
</p>
<ul>
    <li><a href="https://www.llamaway.com">Como cargar mi perfil</a></li>
    <li><a href="https://www.llamaway.com">Como cargar aventuras</a></li>
    <li><a href="https://www.llamaway.com">Consejos para aprovechar Llamaway al Maximo</a></li>
</ul>
<p>
    Si despues de verlos todavía tienes consultas, no dudes en escribirnos a comercial@llamaway.com, y nuestro equipo de aventuras irá al rescate.
</p>
<p>
    ¡Que te diviertas!!
</p>
<p>
    <strong>El equipo de Llamaway</strong>
</p>
