<p>Hola! Te confirmamos que ya estás registrado en Llamaway</p>
<p>
Ahora puedes elegir tu propia aventura
</p>
<a href="{{validateLink}}" style='{{{constants.shortPrimaryButtonStyle}}}'>Ir a Llamaway</a>
<p>
	¡Que te diviertas!!
</p>
<p>
	<strong>El equipo de Llamaway</strong>
</p>